@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

* {
    font-family: "Figtree", sans-serif;
    /* color: #e4e4e4; */
}

:root {
    --black: #000000;
    --dark: #161616;
    --color1: #011140;
    --color2: #ACD7F2;
    --color3: #0B8CD5;
    --color4: #2758DA;
    --white: #FFFFFF;
    --red: #BF0404;
    --green: #02731E;
    --grayBlue: #b2bdc4;
    --gray: colors.gray;
    --ligthGreen: #54ffaf;
    --background: #131724;
}

/* // dashboard  */
.dashboard_container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    height: 100dvh;
    display: grid;
    grid-template-rows: 40px 1fr 49px;
    transition: all 0.3s ease;
    background: #131724;
    color: #d1dce2;
}

.main_and_footer_container {
    display: grid;
    grid-template-rows: 1fr auto;

    overflow: auto;
}

@media (min-width: 768px) {
    .dashboard_container {
        grid-template-columns: 240px 1fr;
        grid-template-rows: auto 1fr;
    }

    .menuStatus-false {
        grid-template-columns: 60px 1fr;
    }

    .menuStatus-false .label_link {
        display: none !important;
    }

    .menuStatus-false .burger_icon {
        transform: scalex(-1);
    }

    .menuStatus-false ul {
        position: relative;
        left: -1px;
    }

    .burger_icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
    }

    .burger_icon:hover {
        cursor: pointer;
        -webkit-backdrop-filter: brightness(70%);
        backdrop-filter: brightness(70%);
    }

    .left_nav {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    header {
        grid-column: span 2;
    }

    .main_and_footer_container {
        grid-template-rows: 1fr auto;
        padding-top: 30px;
    }
}

body {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    color: rgb(177, 214, 255);
    font-weight: bold;
    letter-spacing: 1.2px;
}

.table thead {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.table tbody {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    border-color: rgb(55 65 81 / var(--tw-divide-opacity));

}

.table th {
    font-size: 0.875rem;
    /* .text-sm */
    font-weight: 400;
    /* .font-normal */
    text-align: left;
    /* .text-left */
    color: rgb(184, 188, 197);
    /* dark\:text-gray-400 */
    padding-left: 1rem;
    padding-right: 1rem;
    /* px-4 */
    padding-top: 14px;
    padding-bottom: 14px;
    /* py-3.5 */
}

.table td {
    padding: 14px;
    padding-inline: 1rem;
    font-size: 0.975rem
        /* 14px */
    ;
    line-height: 1.25rem
        /* 20px */
    ;
    white-space: nowrap;
    color: rgb(240, 240, 240);
}

.btn_create {
    padding: 10px;
    padding-inline: 25px;
    border-radius: 4px;
    background: var(--color4);;
    color: white;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.253);
    position: relative;
    z-index: 1;
}
.btn_create:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color3);
    border-radius: 5px;
     box-shadow:inset 2px 0px 0px 0px rgba(255, 255, 255, 0.418),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn_create:hover {
    color: #fff;
  }
  .btn_create:hover:after {
    left: 0;
    width: 100%;
  }
  .btn_create:active {
    top: 2px;
  }
  option {
    background: #050713;
    padding: 10px;
}